html {
	background: url(/images/background.jpg) no-repeat center center fixed; 
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

html, body {
	background-color: transparent;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Source Serif Pro', serif;*/ 
	color: rgb(50, 50, 50) !important;
}

.container {
	background-color: rgba(240, 240, 240, .9);
    padding: 2%; 
}

.container-small {
	background-color: rgba(240, 240, 240, .9);
    padding: 2%; 
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	justify-content: center
}
.container-small .pack {
	padding-left: 10%;
	padding-right: 10%;
}

.control-label {
	font-weight: normal;
	font-size: 16px;
}

.no-margin {
	margin: none !important;	
}

.form-horizontal .form-group .control-label {
	margin-left: -1.5% !important;
}

.invalid-red {
	font-style: italic;
	color: red;
	margin-left: 5px;
}

/*********
Navigation
*********/

nav {
	margin: 0 !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
		    border-radius: 0 !important;
	border: none !important;
}

.navbar {
	font-size: 18px;
	background: rgba(240, 240, 240, .8);
	border-color: transparent;
}

/*Dropdown menu for clicking user's name*/
.navbar .dropdown a {
	color: white !important;
}
.navbar .dropdown a:hover {
	color: black !important;
}

/*Title size on navigation bar*/
.navbar-header .navbar-brand {
	font-size: 24px;
}

/*Hover color of navigation bar button text*/
.navbar a:hover {
	color: rgb(255, 255, 255) !important;
}

/****
Table
****/

/*Specify table-striped background color for every odd row*/
.table-striped tr:nth-child(odd) td {
   background: #F9F9F9;
   white-space:pre-wrap;
}
.table-striped tr:nth-child(odd):hover td {
   background: #F9F9F9;
}
/*disables hover effect on table*/
.table tr:hover {
	background: transparent !important;
}
.table-dark-border,
.table-dark-border > thead > tr > th,
.table-dark-border > tbody > tr > th,
.table-dark-border > tfoot > tr > th,
.table-dark-border > thead > tr > td,
.table-dark-border > tbody > tr > td,
.table-dark-border > tfoot > tr > td {
   border: 0.5px solid #555 !important;
}
.table .td-link {
	text-align: center;   
	width: 25px;
}

hr.separator {
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-color: #ccc;
}

td .status-link {
	display: block;
	padding: 2px;
	width: 90px;
	margin: 0 0;
	font-size: 15px !important;
}

/*****
Button
*****/

.btn-circle {
	background: #AEAEAE;
	color: #EAEAEA;
	margin: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle:focus {
    outline: none;
}
.btn-circle:active {
    outline: none !important;
}

.btn-rl {
	border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	padding: 3% 15%;
	font-size: 20px;
	line-height: normal;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
		    border-radius: 8px;

}

.btn-rl:hover {
    text-decoration: none;
    color: white;
}

.btn-rl:active {
    text-decoration: none;
    color: white;
}

.btn-rl:focus {
    text-decoration: none;
    color: white;
}

.btn-pad-small {	
	padding: 1.5% 7.5%;
}

.btn-pad-xsmall {	
	padding: .75% 3.75%;
}

.btn-link {
	font-size: 16px;
    font-weight: bold;
}
.btn-vertical-center {
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}
.milestone-btn {
	cursor: pointer;
}

/****
Color
****/

.rl-bg-red {
    background-color: #F06060;
}
.rl-red {
    color: #F06060;
}

.rl-bg-green {
    background-color: #8CBEB2;
}
.rl-green {
    color: #8CBEB2;
}

.rl-bg-yellow {
    background-color: #F2EBBF;
}
.rl-yellow {
    color: #F2EBBF;
}

.rl-bg-orange {
    background-color: #F3B562;
}
.rl-orange {
    color: #F3B562;
}

.rl-bg-purple {
    background-color: #5C4B51;
}
.rl-purple {
    color: #5C4B51;
}

/*******
Timeline
*******/

/*https://jsfiddle.net/Doogie/9asqzmbL/*/

.timeline {
	position:relative; 
	height: 30px; 
	font-size: 14px;
	margin-top: 100px;
	margin-bottom: 130px;
	margin-left: 15px;
	margin-right: 15px;
}

.timeline .vertical_line {
    border-left: 2px solid #5C4B51;
	transform: translateY(25px);
}

.timeline .timeline_event_text_top {
	position: absolute;
	top: 0;
	text-align: center;
	color: #000;
	transform: translate(-50%,-90%);
}

.timeline .timeline_event_text_bottom {
	position: absolute;
	top: 0;
	text-align: center;
	color: #000;
	margin-top: 40px;
	transform: translate(-50%);
}

.timeline .timeline_event_text_month {
	position: absolute;
	top: 0;
	text-align: left;
	color: #000;
	transform: translateY(-50%) rotate(-60deg);
    transform-origin: left center;
}

.timeline .timeline_event_month {
	position: absolute;
	top: 0;
	text-align: left;
	color: #000;
	padding-bottom: 5px;
	transform: translateX(-50%);
}
.timeline .timeline_event_month:after {
	z-index: 3;
	content: '';
	position: absolute;
	top: 16px;
	left: 50%;
	right: auto;
	width: 14px;
	height: 14px;
	transform: translateX(-50%);
}

.timeline .timeline_event {
	position: absolute;
	top: 0;
	text-align: center;
	color: #000;
	padding-bottom: 5px;
	transform: translateX(-50%);
}
.timeline .timeline_event:after {
	z-index: 3;
	content: '';
	position: absolute;
	top: 16px;
	left: 50%;
	right: auto;
	width: 14px;
	height: 14px;
	border: 2px solid #000;
	background-color: #FFF;
	border-radius: 50%;
	transform: translateX(-50%);
}

.timeline .timeline_event_big {
	position: absolute;
	top: 0;
	text-align: center;
	color: #000;
	padding-bottom: 5px;
	transform: translateX(-50%);
}
.timeline .timeline_event_big:after {
	z-index: 3;
	content: '';
	position: absolute;
	top: 10px;
	left: 50%;
	right: auto;
	width: 25px;
	height: 25px;
	border: 2px solid #000;
	background-color: #FFF;
	border-radius: 50%;
	transform: translateX(-50%);
}

.timeline .timeline_event_heart {
	position: absolute;
	top: 0;
	text-align: center;
	color: #000;
	padding-bottom: 5px;
	transform: translateX(-50%);
}
.timeline .timeline_event_heart:after {
	z-index: 3;
	content: '';
	position: absolute;
	top: 10px;
	left: 50%;
	right: auto;
	width: 30px;
	height: 30px;
	background: url(/images/heart.png);
	background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	-o-background-size: 30px 30px;
	-webkit-background-size: 30px 30px;
	transform: translateX(-50%);
}

.timeline .selected:after {
	z-index: 3;
	border: 2px solid #333;
	background-color: #999;
  
}
.timeline .filling_line {
	width: 100%;
	z-index: 0;
	position: absolute;
	left: 0;
	top: 20px;
	height: 4px;
}

.timeline ol {
	list-style: none;
}

